<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="Fa">
    <meta name="ROBOTS" content="ALL" />
    @*<meta name="keywords" content="@RenderSection("TagMeta")">
    <meta name="description" content="@RenderSection("ContentMeta")">
    <meta name="author" content="@RenderSection("AuthorMeta")">*@
    <title>@ViewBag.Title - چاپ صارم Sarem Chap</title>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Common/css")
    @Styles.Render("~/Content/Front/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Common/js")
    @Scripts.Render("~/bundles/Front/js")


</head>
<body>
    <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">

        <!-- Start Top Bar -->
        <div class="top-bar color-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        @*@Html.Partial("_LoginPartial")*@


                    </div>
                    <div class="col-md-4">

                        <ul class="social-list">
                            <li>
                                <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a class="dribbble itl-tooltip" data-placement="bottom" title="Dribble" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="flickr itl-tooltip" data-placement="bottom" title="Flickr" href="#"><i class="fa fa-flickr"></i></a>
                            </li>
                            <li>
                                <a class="tumblr itl-tooltip" data-placement="bottom" title="Tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                            </li>
                            <li>
                                <a class="instgram itl-tooltip" data-placement="bottom" title="Instagram" href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a class="vimeo itl-tooltip" data-placement="bottom" title="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                            </li>
                            <li>
                                <a class="skype itl-tooltip" data-placement="bottom" title="Skype" href="#"><i class="fa fa-skype"></i></a>
                            </li>
                        </ul>
                        <!-- End Social Links -->
                    </div><!-- .col-md-6 -->
                    <div class="col-md-6">
                        <!-- Start Contact Info -->
                        <ul class="contact-details">
                            <li>
                                <a href="#"><i class="fa fa-map-marker"></i> خیابان سمیه, تهران </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope-o"></i> info@saremchap.ir</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-phone"></i> 021-88866907</a>
                            </li>
                        </ul>
                        <!-- End Contact Info -->
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-bar -->
        <!-- End Top Bar -->
        <!-- Start  Logo & Naviagtion  -->
        <div class="navbar navbar-default navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- Stat Toggle Nav Link For Mobiles -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- End Toggle Nav Link For Mobiles -->
                    <a class="navbar-brand" href="/">
                        <img alt="" src="~/Content/assets/Front/image/margo.png">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Stat Search -->
                    <div class="search-side">
                        <a href="#" class="show-search"><i class="fa fa-search"></i></a>
                        <div class="search-form">
                            <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                                <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                            </form>
                        </div>
                    </div>
                    <!-- End Search -->
                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/home/ContactUs">ارتباط با ما</a>
                            <!--<ul class="dropdown">
                                <li>
                                    <a class="active" href="index.html">Home Main Version</a>
                                </li>

                            </ul>-->
                        </li>
                        <li>
                            <a href="/home/AboutUs">درباره ما </a>
                            <!--<ul class="dropdown">
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="services.html">Services</a>
                                </li>
                                <li>
                                    <a href="right-sidebar.html">Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="left-sidebar.html">Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="404.html">404 Page</a>
                                </li>
                            </ul>-->
                        </li>
                        <li>
                            <a href="#">راهنمای خرید</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="/Home/Accountnumber">شماره حساب</a>
                                </li>
                                <li>
                                    <a href="#">نحوه ثبت سفارش</a>
                                </li>
                                <li>
                                    <a href="/Home/TermsOfUse">قوانین ارجاع و تعویض</a>
                                </li>
                                <li>
                                    <a href="/Home/Privacy">حفظ حریم شخصی</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="/home/selectgallery/1">گالری</a>
                            @{Html.RenderAction("GalleryInMenu", "Home", null);}
                        </li>
                        <li>
                            <a href="#">مطالب</a>
                            @{Html.RenderAction("ChapterInMenu", "Home", null);}


                        </li>
                        <li>
                            <a href="#">خدمات</a>
                            <ul class="dropdown">
                                <li class="productMenu">
                                    <h3 style="padding:7px">  لیست کامل خدمات و محصولات چاپ صارم    <i class="fa fa-cog fa-spin"></i></h3>

                                    <div class="row" style="width:880px">

                                        @{Html.RenderAction("ProductCategoryInMenu", "Home", null);}

                                    </div>

                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/">صفحه نخست</a>
                        </li>
                    </ul>
                    <!-- End Navigation List -->
                </div>
            </div>
        </div>
        <!-- End Header Logo & Naviagtion -->

    </header>

    <div class="">

        @RenderBody()

    </div>
    <!-- Start Footer Section -->
    <footer>
        <div class="container">
            <div class="row footer-widgets">


                <!-- Start Subscribe & Social Links Widget -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget mail-subscribe-widget">
                        <h4>ایمیل خو را ثبت کنید<span class="head-line"></span></h4>
                        <!--<p>Join our mailing list to stay up to date and get notices about our new releases!</p>-->

                        <form class="subscribe">
                            <input type="text" placeholder="mail@example.com">
                            <br />
                            <input type="submit" class="btn-system" value="ارسال">
                        </form>
                    </div>

                </div><!-- .col-md-3 -->
                <!-- End Subscribe & Social Links Widget -->
                <!-- Start Twitter Widget -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget social-widget">
                        <h4 style="text-align:right">ما را دنبال کنید<span class="head-line"></span></h4>
                        <ul class="social-icons">
                            <li>
                                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                            </li>
                            <li>
                                <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                            </li>
                            <li>
                                <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                            </li>
                            <li>
                                <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col-md-3 -->
                <!-- End Twitter Widget -->
                <!-- Start Flickr Widget -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget flickr-widget">
                        <h4>چاپ صارم<span class="head-line"></span></h4>

                        <form id="TransactionForm" method="post" action="http://merchant.parspal.com/postservice/">
                            <input id="MerchantID" type="hidden" value="3180502" name="MerchantID">
                            <input id="Password" type="hidden" value="nkKWnnhat" name="Password">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>مبلغ :</td>
                                        <td>
                                            <input class="submitpay" type="text" name="Price" dir="ltr">
                                            تومان
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>نام :</td>
                                        <td>
                                            <input class="submitpay" type="text" name="Paymenter">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ایمیل :</td>
                                        <td>
                                            <input class="submitpay" type="text" name="Email" dir="ltr">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>تلفن :</td>
                                        <td>
                                            <input class="submitpay" type="text" name="Mobile" dir="ltr">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                        <td>
                                            <input class="submitclick" type="submit" value="اتصال به درگاه پرداخت">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input id="ResNumber" type="hidden" value="0" name="ResNumber">
                            <input id="Description" type="hidden" value="خرید" name="Description">
                            <input id="ReturnPath" type="hidden" value="http://www.yourweblogpath.com/" name="ReturnPath">
                        </form>

                    </div>
                </div><!-- .col-md-3 -->
                <!-- End Flickr Widget -->
                <!-- Start Contact Widget -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget contact-widget" style="direction:rtl">
                        
                        <h4><img src="~/Content/assets/Front/image/footer-margo.png" class="img-responsive" alt="چاپ صارم" /></h4>
                        @*<ul>
                                <li><span>آدرس :</span> تهران، خیابان سمیه، خیابان خاقانی، پلاک 75، واحد 3</li>
                                <li><span>تلفن :</span> 021-88866907 </li>
                                <li><span>ایمیل:</span> info@saremchap.ir</li>
                                <li><span>وب سایت:</span> www.saremchap.ir</li>
                            </ul>*@
                    </div>
                </div><!-- .col-md-3 -->
                <!-- End Contact Widget -->

            </div><!-- .row -->
            <!-- Start Copyright -->
            <div class="copyright-section">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2015 تمامی حقوق این سایت متعلق به چاپ صارم می باشد </p>
                    </div><!-- .col-md-6 -->
                    <div class="col-md-6">
                        <ul class="footer-nav">
                            <li>
                                <a href="#">نقشه سایت</a>
                            </li>
                            <li>
                                <a href="#">قوانین</a>
                            </li>
                            <li>
                                <a href="#">ارتباط با ما</a>
                            </li>
                        </ul>
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            </div>
            <!-- End Copyright -->
        </div>
    </footer>
    <!-- End Footer Section -->
    @RenderSection("scripts", required: false)
</body>
</html>
