@using Microsoft.Ajax.Utilities
@model DomainClasses.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductCategoryId, "ProductCategoryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductCategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProductCategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imege, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imege)
                @Html.ValidationMessageFor(model => model.Imege)
            </div>
        </div>

        @if (Model.Files.Count == 0)
        {

            <img class="img-thumbnail" src="~/Content/assets/Common/Images/image-not-found.jpg" />
        }
        else
        {
            foreach (var file in Model.Files)
            {

                var url = string.Format("/images/Services/service/{0}", file.FileName);
                <p>
                    @file.FileName
                </p>
                <div>
                    <img class="img-thumbnail" src=@url alt="" />
                </div>
            }

        }


        <div class="form-group">
            @Html.LabelFor(model => model.Describtion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Describtion)
                @Html.ValidationMessageFor(model => model.Describtion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
